---
title: Articolo del Blog
description: Questa è la descrizione di uno degli articoli del blog
tags: post
date: Created
place: Barcelona
type: article
---
<!DOCTYPE html>
<html lang="pt-BR">
{% include "head-article.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <article>
        <small class="info">
            {{ place }}&nbsp;
            <time datetime="{{page.date}}">{{page.date | readableDate}}</time>&nbsp;&ndash;&nbsp;
        </small>
        <h1>{{ title }}</h1>
        {{content | safe}}
    </article>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
