---
title: Blog
description: In questa pagina troverai tutti i pots che ho pubblicato
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="pt-BR">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main>
        <ul class="elenco-posts">
        {%- for post in collections.post | reverse -%}
            <li class="posts">
                <h2><time datetime="{{post.data.date}}">{{post.data.date | readableDate}}</time><br/><a href="{{post.url}}">{{post.data.title}}</a></h2>
                <p>{{post.data.description | safe}}</p>
                <small class="info">
                    Autoria: {{post.data.author | safe}}
                </small>
            </li>
        {%- endfor -%}
        </ul>
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
